<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 id="roomName">Chatroom: {{roomName}}</h1>
        <a href="/" class="btn btn-primary">Home</a>
    </div>
    <input type="hidden" id="currentNickname" value="{{nickname}}">
    <div id="messages" class="border rounded p-3 mb-3" style="height: 400px; overflow-y: scroll;"></div>

    <h2 id="nickname-display">Nickname: </h2>
    <form id="message-form" class="form-inline w-100 d-flex flex-column align-items-center">
        <div class="form-group w-100 d-flex align-items-center" style="height: 100px;">
            <textarea id="text" name="text" class="form-control w-100" placeholder="Enter your message" required style="resize: none; height: auto;"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2 w-100">Send</button>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="nicknameModal" tabindex="-1" aria-labelledby="nicknameModalLabel" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nicknameModalLabel">Enter Nickname</h5>
            </div>
            <div class="modal-body">
                <form id="nickname-form">
                    <div class="form-group">
                        <label for="nickname">Nickname</label>
                        <input type="text" id="nickname" name="nickname" class="form-control" placeholder="Enter your nickname" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const roomName = "{{ roomName }}";
        $('#nicknameModal').modal({
            keyboard: false,
            backdrop: 'static'
        });
        initializeChatroom(roomName);
    });
</script>
