<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 id="room-name">{{roomName}}</h1>
    <a href="/" class="btn btn-primary">Home</a>
  </div>
  <input type="hidden" id="currentNickname" value="{{nickname}}" />

  <!-- Search Form -->
  <form id="search-form" class="mb-3 d-flex position-relative">
    <input
      type="text"
      id="search"
      placeholder="Search messages"
      class="form-control mr-2"
    />
    <button type="submit" class="btn btn-info">Search</button>
    <button
      type="button"
      id="clear-search"
      class="btn btn-sm btn-secondary position-absolute"
      style="right: 6rem; top: 50%; transform: translateY(-50%);"
    >X</button>
  </form>

  <div id="content-container">
    <div
      id="messages"
      class="border rounded p-3 mb-3"
      style="height: 400px; overflow-y: scroll;"
    ></div>
    <div
      id="search-results"
      class="col-md-4 border rounded p-3 mb-3"
      style="height: 400px; overflow-y: scroll;"
    ></div>
  </div>

  <h2 id="nickname-display"></h2>
  <form
    id="message-form"
    class="form-inline w-100 d-flex flex-column align-items-center"
  >
    <div
      class="form-group w-100 d-flex align-items-center"
      style="height: 100px;"
    >
      <textarea
        id="text"
        name="text"
        class="form-control w-100"
        placeholder="Enter your message"
        required
        style="resize: none; height: auto;"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-2 w-100">Send</button>
  </form>
</div>
